@import "tailwindcss";

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-weight: 700;
}

a {
  color: rgb(59, 148, 59);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
