@import "tailwindcss";

h1 {
  font-weight: 600;
}

a {
  color: rgb(44, 96, 44);
  text-decoration-line: underline;
}

a.underline-on-hover {
  text-decoration-line: none;

  &:hover {
    text-decoration-line: underline;
  }
}
