---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { Image } from "astro:assets";
import instrumentsOnMat from "../assets/instruments_on_mat.jpeg";
import allSmiling from "../assets/all_smiling.jpeg";
---

<Layout>
  <div
    class="align-start flex w-full flex-col items-center justify-start gap-8"
  >
    <iframe
      class="my-6 h-[478px] w-[360px] rounded-t-lg border-0 shadow-2xl sm:my-12 sm:h-[508px] sm:w-[390px]"
      src="https://bandcamp.com/EmbeddedPlayer/album=2431008708/size=large/bgcol=ffffff/linkcol=3b943b/tracklist=false/transparent=true/"
      seamless></iframe>

    <div class="flex flex-col gap-4">
      <h2>Introduction to Dan Gurney & Christina Dolphin</h2>
      <p>
        Dan Gurney learned his music in the Hudson Valley, just north of New
        York City, from senior immigrant musicians, most notably the late
        Roscommon flute player Mike McHale and east-Galway multi-instrumentalist
        Fr. Charlie Coen. When he moved to Dublin a few years ago, Dan brought
        with him a musical sensibility absorbed from those 1950's exiles,
        playing his vintage button box in an older, more relaxed style than that
        of many of Ireland's contemporary young traditional musicians.
      </p>
      <p>
        It is a style that nonetheless meshes beautifully with the smoothly
        flowing flute and whistle playing of his wife Christina Dolphin and with
        Brian McGrath's tastefully understated piano accompaniment. Christina,
        like many globe-trotting Irish musicians of her generation, spent a few
        years abroad, including a residency in New Paltz, New York (with a gig
        as a Broadway theater musician), before returning home to raise a
        family.
      </p>
      <p>
        Dan and Christina are fondly remembered in the Empire State, so even if
        the streets of Dublin are a bit farther than a subway ride away, we
        Yanks can only hope that the ties that bind them to New York will draw
        them back for visits in years to come!
      </p>
      <p class="italic">Don Meade, Samsonville, NY</p>
    </div>

    <Image
      src={allSmiling}
      alt="Dan & Christina and kids"
      layout="full-width"
      quality={100}
      class="my-6"
    />

    <div class="flex w-full flex-col gap-4">
      <h2>Notes</h2>
      <p>
        <div class="italic">
          1. Teampall an Ghleantáinn / Buckley's Fancy (Reels)
        </div>
        <div>
          We learned the first tune from Mick O'Brien and Caoimhín Ó
          Raghallaigh's classic recording <a
            href="https://irishmusic.bandcamp.com/album/kitty-lie-over"
            >Kitty Lie Over</a
          >. It refers to a village in Limerick and is reputed to be from the
          playing of Denis Murphy. Buckley's Fancy was a favorite of <a
            href="https://dangurney.net/blog/father-charlie"
            >Father Charlie Coen</a
          >, who sadly passed away at the end of 2024. He was Dan's main
          influence growing up and passed down a multitude of East Galway tunes
          like this. He often started performances with this tune. It was also
          recorded on Warming up by Father Charlie's brother Jack along with
          Séamus Connolly, Martin Mulhaire, and Felix Dolan - legends all!
        </div>
      </p>
      <p>
        <div class="italic">
          2. The Fleadh at Tulla / The Skeleton Key (Single Jigs)
        </div>
        <div>
          We learned The Fleadh at Tulla from Séamus Connolly's wonderful <a
            href="https://connollymusiccollection.bc.edu/document/467?query=fleadh+at+tulla&submit_search=Search"
            >Collection of Irish Music</a
          > published online by Boston College. There are countless lesser-known
          gems in this collection, all freely available with accompanying recordings
          and sheet music. The Skeleton Key was named by the inimitable uilleann
          piper Seán McKiernan. It comes from the playing of Micho Russell as well
          as Dermot Grogan and is sometimes known as "Come into the Town My Fair
          Lady."
        </div>
      </p>
      <p>
        <div class="italic">3. Byrne's Hornpipe / Galway Bay (Hornpipes)</div>
        <div>
          During the seemingly endless days of the Covid lockdowns in Ireland,
          we often circulated voice memos of tunes that came into our heads.
          This is one of them. It's not <em>really</em> Byrne's Hornpipe, and instead
          seems to be a mashup of various tunes that presented itself to Dan one
          day. But anyway, <a href="https://thesession.org/tunes/1143"
            >Byrne's</a
          > is the closest tune we could find and it's clearly where the second part
          was stolen from! Galway Bay, meanwhile, is associated with the west of
          the country and has been recorded by Paddy Carty, Conor Tully, and Frank
          Hogan, as well as Joe Burke and Charlie Lennon.
        </div>
      </p>
      <p>
        <div class="italic">4. Lament for a Fiddler (Slow Air)</div>
        <div>
          This is a composition of the great flute-player Josie McDermott.
          Christina learned it from Dublin flute player Sarah Jane Woods, who
          was one of many great teachers she was fortunate to take lessons from
          in her youth, and first sparked her interest in slow-air playing by
          connecting them to the songs, singers or musicians from which they
          came.
        </div>
      </p>
      <p>
        <div class="italic">
          5. The Sligo Reel / Tommy Coen's / Jimmy Giblin's (Reels)
        </div>
        <div>
          Dan learned The Sligo Reel from <a
            href="https://www.irishtune.info/album/PACarb"
            >Memories from the Holla</a
          >, a landmark album recorded by Peter Carberry, Angelina Carberry, and
          John Blake. It may have been composed by Sligo flute player <a
            href="https://www.youtube.com/watch?v=2-AS6GECBW8">James Murray</a
          > from Ogham near Tubbercurry. Christina learned Tommy Coen's reel from
          flute player June McCormack, who was one of her main influences growing
          up. Tommy Coen's is a composition of the Urrachree fiddle player who worked
          as a <a
            href="https://tunearch.org/wiki/Annotation:Tommy_Coen%27s_Reel_(1)"
            >conductor on Connemara buses</a
          > and often kept a fiddle under the back seat. It is usually played in
          G minor, but here we bring it down to E minor. Dan learned Jimmy Giblin's
          from accordion player James Keane, born in Drimnagh and now a staple of
          the Irish music scene in New York City. James recorded this tune on his
          album <a href="https://www.irishtune.info/album/JKn+7/"
            >Heir of the Dog</a
          > and adds a great bounce to the first phrase. <a
            href="https://newyork.itma.ie/post-world-war-ii/james-lad-obeirne/"
            >Lad O'Beirne</a
          > also played a version of this tune.
        </div>
      </p>
      <p>
        <div class="italic">
          6. Mick Moloney's / The Dark East Dream (Barndances)
        </div>
        <div>
          Both of us spent memorable times in the company of <a
            href="https://www.youtube.com/watch?v=t0S4XTw2IQc">Mick Moloney</a
          >, one of the most energetic and entertaining people we have ever met.
          It was always "miles of smiles" when you were in Mick's company. Mick
          also had high standards and wherever he went, made sure that Irish
          music received the respect it deserves. Probably no one had more of an
          impact on Irish music in America than Mick. Whether you look into the
          Smithsonian Folklife Festival, Catskills Irish Arts Week, Cherish the
          Ladies, Father Charlie and Jack Coen's album The Branch Line, or –
          indeed nearly any festival, band, or recording that happened in the
          states in the past 50 years – you will find Mick somewhere nearby! We
          learned these two barndances for a performance with Mick and Athena
          Tergis at the Irish Arts Center in New York City. Sadly we lost Mick
          in 2022 but his legacy lives on.
        </div>
      </p>
      <p>
        <div class="italic">
          7. Buck Mulligan's Hornpipe / An tSeanbhean Bhocht (Hornpipes)
        </div>
        <div>
          I was honored when the Irish Traditional Music Archive in Dublin asked
          me to <a
            href="https://www.itma.ie/scores/277020-buck-mulligans-hornpipe/"
            >compose a group of new tunes</a
          > as part of their Saothar series. This is one of them, prompted by memorable
          post-lockdown sessions in Buck Mulligan's pub in Dún Laoghaire. An tSeanbhean
          Bhocht comes from the playing of Séamus Ennis and more recently from a
          session in McNeill's Pub on Capel Street with Pádraic Keane, Maitiú Ó Casaide,
          and Pádraig Ó Dubhgaill.
        </div>
      </p>
      <p>
        <div class="italic">8. Gallagher's Frolics / The Coast Road (Jigs)</div>
        <div>
          This set of jigs was frequently played at the Saturday night session
          in the Cultúrlann, Monkstown, where Christina first learned her music.
          The second one in particular reminds her of the late Brendan McCabe, a
          great flute and tin whistle player and a gentleman from Sligo from
          whom she learned many tunes, and who taught her the importance of
          learning by ear.
        </div>
      </p>
      <p>
        <div class="italic">
          9. Rigney's / The Flowing Bowl / Ashmolean House (Reels)
        </div>
        <div>
          The first reel comes from one of our all-time favorite albums, <a
            href="https://www.irishtune.info/album/BnkShn/"
            >The Banks of the Shannon</a
          >, by Séamus Connolly, Paddy O'Brien, and Charlie Lennon. The Flowing
          Bowl was recorded by Irish-American band Solas in 1996 on their <a
            href="https://www.discogs.com/release/5499185-Solas-Solas"
            >self-titled debut album</a
          >. Tommy Gunn, the fiddle player from Fermanagh and Belfast, composed
          Ashmolean House. Dan learned it from Jerry O'Sullivan who recorded it
          on <a
            href="https://www.discogs.com/release/5468012-Jerry-OSullivan-The-Invasion"
            >The Invasion</a
          > alongside Séamus Egan and Mick Moloney.
        </div>
      </p>
      <p>
        <div class="italic">10. An Buachaillín Bán (Slow Air)</div>
        <div>
          Christina learned this air from the singing of Nioclás Tóibín on his
          CD Rinn na nGael. Nioclas was an award-winning sean-nós singer from
          the Déise tradition of County Waterford. An Buachaillín Bán is a
          revolutionary song disguised as a love song.
        </div>
      </p>
      <p>
        <div class="italic">11. Garryowen / The Chicago (Jigs)</div>
        <div>
          Dan originally learned Garryowen from <a
            href="https://www.itma.ie/playlists/touhey-patsy/">Patsy Touhey</a
          > but was again reminded of it by brilliant fiddle player <a
            href="https://aidanconnollymusic.com/">Aidan Connolly</a
          > at a session in Dún Laoghaire. The Chicago, meanwhile, comes from the
          playing of Sligo-based band <a href="https://dervish.ie">Dervish</a>.
        </div>
      </p>
      <p>
        <div class="italic">12. Tomeen O'Dea's 1 and 2 (Reels)</div>
        <div>
          We finish with two reels from the playing of Roscommon flute player <a
            href="https://www.youtube.com/watch?v=bSklR2JQ-U0">Mike McHale</a
          > who was a huge inspiration for Dan as a kid and teenager in upstate New
          York. Mike organized the Catskills Ceili Band with local upstate musicians
          – notably not including Dylan Foley, whose feet at the time did not touch
          the floor when he sat on a chair! In addition to being a brilliant teacher
          and <a
            href="https://michaeleskin.com/transcriptions/Mike_McHale_Compositions_17Sep2024.pdf"
            >composer</a
          >, Mike was an unfailingly generous man who was a pillar of the
          upstate music scene alongside Father Charlie Coen.
        </div>
      </p>
    </div>

    <div class="flex w-full flex-col gap-4">
      <h2>Credits</h2>
      <ul>
        <li>Christina Dolphin: Flute and Tin Whistle</li>
        <li>Dan Gurney: Button Accordion</li>
        <li>Brian McGrath: Piano</li>
      </ul>
      <ul>
        <li>
          Engineered and mixed by <a
            href="https://www.instagram.com/paulgurneymusic/">Paul Gurney</a
          >
        </li>
        <li>
          Mastered by <a href="http://www.seanmacerlaine.com/"
            >Seán Mac Erlaine</a
          >
        </li>
        <li>Cover art by <a href="https://sineadok.com/">Sinéad Kennedy</a></li>
        <li>
          Photography by <a href="https://www.instagram.com/misterdolphin_/"
            >Aengus Dolphin</a
          >
        </li>
      </ul>
      <ul>
        <li>
          For any enquiries, please contact <a href="mailto:dan@dangurney.net"
            >dan@dangurney.net</a
          >
        </li>
      </ul>
      <ul>
        <li>
          Special thanks to all of our talented collaborators who were an
          absolute pleasure to work with.
        </li>
      </ul>
      <ul>
        <li>
          This album is dedicated to the memories of Father Charlie Coen and
          Mick Moloney.
        </li>
      </ul>
    </div>

    <Image
      src={instrumentsOnMat}
      alt="Instruments on playmat"
      layout="full-width"
      quality={100}
    />
  </div>
</Layout>
