---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { Image } from "astro:assets";
import albumCover from "../assets/cover_color.jpg";
---

<Layout>
  <div
    class="align-start flex w-full flex-col items-center justify-start gap-8"
  >
    <!-- <iframe
    style="border: 0; width: 328px; height: 448px;"
    src="https://bandcamp.com/EmbeddedPlayer/album=1252453085/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/"
    seamless></iframe> -->

    <Image
      src={albumCover}
      alt="Album Cover by Sinead Kennedy"
      width={328}
      quality={100}
    />

    <div class="flex flex-col gap-4">
      <h1>Introduction</h1>
      <p>
        Dan Gurney learned his music in the Hudson Valley, just north of New
        York City, from senior immigrant musicians, most notably the late
        Roscommon flute player Mike McHale and east-Galway multi-instrumentalist
        Fr. Charlie Coen. When he moved to Dublin a few years ago, Dan brought
        with him a musical sensibility absorbed from those 1950's exiles,
        playing his vintage button box in an older, more relaxed style than that
        of many of Ireland's contemporary young traditional musicians.
      </p>
      <p>
        It is a style that nonetheless meshes beautifully with the smoothly
        flowing flute and whistle playing of his wife Christina Dolphin and with
        Brian McGrath's tastefully understated piano accompaniment. Christina,
        like many globe-trotting Irish musicians of her generation, spent a few
        years abroad, including a residency in New Paltz, New York (with a gig
        as a Broadway theater musician), before returning home to raise a
        family.
      </p>
      <p>
        Dan and Christina are fondly remembered in the Empire State, so even if
        the streets of Dublin are a bit farther than a subway ride away, we
        Yanks can only hope that the ties that bind them to New York will draw
        them back for visits in years to come!
      </p>
      <p class="italic">Don Meade, Samsonville, NY</p>
    </div>

    <div class="flex w-full flex-col gap-4">
      <h1>Notes</h1>
      <p>
        <div class="italic">1. Teampall an Ghleantainn / Buckley's Fancy</div>
        <div>We learned the first tune</div>
      </p>
      <p>
        <div class="italic">2. The Fair at Tulla / The Skeleton Key</div>
        <div>We learned the first tune</div>
      </p>
      <p>
        <div class="italic">3. Byrne's / Galway Bay</div>
        <div>We learned the first tune</div>
      </p>
      <p>
        <div class="italic">4. Lament for a Fiddler</div>
        <div>We learned the first tune</div>
      </p>
      <p>
        <div class="italic">
          5. The Sligo Reel / Tommy Coen's / Jimmy Giblin's
        </div>
        <div>We learned the first tune</div>
      </p>
      <p>
        <div class="italic">
          6. Mick Moloney's Barndance / The Dark East Dream
        </div>
        <div>We learned the first tune</div>
      </p>
      <p>
        <div class="italic">
          7. Buck Mulligan's Hornpipe / An tSeanbhean Bhocht
        </div>
        <div>We learned the first tune</div>
      </p>
      <p>
        <div class="italic">8.Gallagher's Frolics / The Coast Road</div>
        <div>We learned the first tune</div>
      </p>
      <p>
        <div class="italic">
          9. Rigney's / The Flowing Bowl / Ashmolean House
        </div>
        <div>We learned the first tune</div>
      </p>
      <p>
        <div class="italic">10. An Buachaillin Bán</div>
        <div>We learned the first tune</div>
      </p>
      <p>
        <div class="italic">11. Garryowen / The Chicago Jig</div>
        <div>We learned the first tune</div>
      </p>
      <p>
        <div class="italic">12. Tomeen O'Dea's 1 and 2</div>
        <div>We learned the first tune</div>
      </p>
    </div>

    <div class="flex w-full flex-col gap-4">
      <h1>Credits</h1>
      <ul>
        <li>Christina Dolphin: Flute and Tin Whistle</li>
        <li>Dan Gurney: Button Accordion</li>
        <li>Brian McGrath: Piano</li>
      </ul>
      <ul>
        <li>Engineered and mixed by Paul Gurney</li>
        <li>Mastered by Sean Mac Erlaine</li>
        <li>Cover art by Sinéad Kennedy</li>
        <li>Photography by Aengus Dolphin</li>
      </ul>
    </div>
  </div>
</Layout>
