<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Dan Gurney & Christina Dolphin with Brian McGrath</title>
  </head>
  <body>
    <div
      class="flex h-full w-full flex-col items-center justify-start overflow-auto px-4 pb-12"
    >
      <div class="flex w-full flex-row justify-center p-2 sm:justify-start">
        <a href="https://dangurney.net" class="underline-on-hover"
          >← dangurney.net</a
        >
      </div>
      <div class="max-w-3xl">
        <slot />
      </div>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
